# Ignorer les datas du dossier data
data/

# Ignorer les tokens secrets
token/

# Ignorer les dossiers de l'environnement virtuel
venv/
__pycache__/

# Ignorer les dossiers log
log/

# Ignorer les dossiers clients
clients/

